@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --clr-primary-navy: #0c3e6b;
  --clr-primary-blue: #4e7099;
  --clr-secondary-sand: #c87a32;
  --clr-secondary-gray-blue: #92a6bd;
  --clr-secondary-stone: #f0f1f0;

  --box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;
  --box-shadow-hover: rgba(0, 0, 0, 0.15) 2.05px 2.05px 2.8px;

  --border-radius: 30px;

  --section-gap: 8rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: var(--clr-secondary-stone);
}

button {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: all 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: var(--box-shadow-hover);
}

#app {
  color: var(--clr-primary-blue);
  display: flex;
  flex-direction: column;
  /* gap: var(--section-gap); */
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-size: 18px;
}

section {
  max-width: var(--max-width);
  flex: 1;
  margin: auto;
  scroll-margin-top: 7rem;
  width: 90%;
}

nav,
section:not(:last-of-type) {
  margin-bottom: var(--section-gap);
}

img {
  display: block;
  max-width: 100%;
}

.primary-heading {
  font-size: 48px;
  color: var(--clr-primary-navy);
  line-height: 1.1;
}
.secondary-heading {
  font-size: 40px;
  line-height: 1.2;
  color: var(--clr-primary-navy);
  margin-bottom: 4rem;
}
.tertiary-heading {
  font-size: 24px;
  line-height: 1.2;
}

.max-width {
  max-width: 1400px;
}

/* -----------NAVIGATION -------------- */

nav {
  width: 100%;
  position: sticky;
  top: 0rem;
  z-index: 10;
}

#nav-observer {
  position: absolute;
  top: 50px;
  height: 0;
}

.nav-wrap {
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: var(--box-shadow);
  transition: width 0.5s ease-in-out, border-radius 0.3s ease-in-out,
    margin 0.3s;
  transform-origin: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.nav-not-at-top {
  max-width: 1400px;
  width: 90%;
  margin-top: 0.5rem;
  border-radius: 100px;
  z-index: 100;
}

.logo-container {
  max-width: 250px;
}

.navigation {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
}

nav a {
  text-decoration: none;
  font-family: inherit;
  font-size: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: var(--clr-primary-blue);
}

nav a:hover {
  color: var(--clr-primary-navy);
}

.toggle-label {
  display: none;
}

#toggle {
  display: none;
}

/*------------- SECTION HERO -------------  */

.hero-wrap {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero-text {
  font-size: 20px;
}

.highlight-word {
  margin: 0em -0.2em;
  padding: 0em 0.4em;
  border-radius: 1.2em 0.3em;
  background: transparent;
  color: currentColor;
  background-image: linear-gradient(to right, #92a6bd75, #92a6bdd2);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.cta {
  background-color: var(--clr-secondary-sand);
  color: var(--clr-secondary-stone);
  border: none;
}

.hero-cta {
  align-self: flex-start;
  margin: 3rem 0;
  padding: 1.25rem 3rem;
  border-radius: var(--border-radius);
  font-size: 18px;
}

.hero-cta a {
  text-decoration: none;
  color: var(--clr-secondary-stone);
}

.lighthouse-image-wrap {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.lighthouse-image-wrap img {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

/*-------- SECTION EXPERTISE -------- */

.expertise-section {
  padding-top: var(--section-gap);
  padding-bottom: var(--section-gap);
  background-color: white;
  width: 100%;
  max-width: none;
}

.expertise-content-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 90%;
  margin: auto;
}

.expertise-content-wrap p {
  max-width: 600px;
}

.expertise-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.expertise-list > li {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.expertise-list > li:hover {
  transform: translateY(-3px);
}

.show-expertise-list-item {
  /* background-color: #d4d5d5; */
  background-color: var(--clr-secondary-stone);
  color: var(--clr-primary-navy);
}

.expertise-list-item-desc,
.expertise-list-item-title {
  padding: 0 0.5rem;
}

.expertise-list-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expertise-list img {
  transition: all 0.3s ease-in-out;
}

.expertise-list-icon-spin {
  transform: rotate(180deg);
}

.expertise-list-item-desc {
  max-height: 0;
  transition: all 0.3s ease;
  line-height: 1.5;
  overflow: hidden;
  color: var(--clr-primary-blue);
}

.list-item-bg-container {
  position: relative;
}

.show-list-item-desc {
  max-height: 200px;
  overflow: visible;
  padding-top: 1rem;
}

/*------------- SECTION ABOUT ME -------------  */

.section-about-wrap {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin: auto;
}

.img-wrap {
  z-index: -10;
  max-width: 40%;

  background-size: cover;
  flex-grow: 1;
  position: relative;
}

.section-about img {
  display: block;
  max-height: 500px;
  border-radius: var(--border-radius);
  object-fit: cover;
  width: 100%;
}

.about-me-text {
  max-width: 600px;
}

.about-me-text bold {
  font-weight: 800;
}

/*-------- SECTION CARDS -------- */
.cards {
  display: flex;
  gap: 2rem;
}

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  background: white;
  flex: 1;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: var(--box-shadow-hover);
}

.card span {
  flex-basis: 1;
  margin-bottom: 4rem;
  border-radius: 3px;
  padding: 0.75rem;
  align-self: flex-start;
  border-radius: 50%;
  background-color: var(--clr-secondary-stone);
  color: var(--clr-primary-navy);
}

h3 {
  margin-bottom: 2rem;
}

/* -------------- CTA SECTION ------------------ */

.cta-section {
  max-width: 100%;
  width: 100%;
  text-align: center;
  color: var(--clr-secondary-stone);
  padding: 8rem 0;

  background: linear-gradient(
      rgba(12, 63, 107, 0.766),
      rgba(12, 63, 107, 0.655)
    ),
    url("./assets/Navy sea.jpg");
  background-size: cover;
  background-position: center;
}

.cta-content-wrap {
  margin: auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cta-content-wrap h2 {
  color: var(--clr-secondary-stone);
  margin-bottom: 2rem;
}

.cta-content-wrap p {
  font-size: 18px;
}

.cta {
  align-self: center;
  padding: 1.5rem 4rem;
  border-radius: 60px;
  border: none;
}

.cta a {
  text-decoration: none;
  color: var(--clr-primary-stone);
}

/* ------------- FOOTER ------------------ */
footer {
  background-color: var(--clr-secondary-stone);
  color: var(--clr-primary-blue);
}

.footer-content {
  display: flex;
  gap: 4rem;
  align-items: end;
  /* max-width: var(--max-width); */

  margin: auto;
  width: 90%;
  padding: 4rem 0;
}

.footer-content img {
  align-self: flex-start;
  margin-right: auto;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-self: end;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer .highlight {
  color: var(--clr-primary-navy);
}

footer img {
  max-width: 400px;
}

@media (max-width: 768px) {
  .hero-cta {
    padding: 1rem 2.5rem;

    font-size: 16px;
  }
  .nav-wrap {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
  }

  .logo-container {
    max-width: 200px;
  }
  .navigation {
    visibility: hidden;
    height: 0;
    top: 110%;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--box-shadow);
  }

  .toggle-label {
    display: block;
  }

  #toggle:checked + .navigation {
    visibility: visible;
    height: auto;
  }

  #toggle {
    visibility: hidden;
    position: absolute;
  }

  .menu-icon {
    width: 30px;
  }

  .primary-heading {
    font-size: 40px;
  }

  .highlight-word {
    padding: 0 0.2em;
  }

  .hero-section {
    text-align: center;
  }

  .lighthouse-image-wrap {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .lighthouse-image-wrap img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* Maintain aspect ratio */
    height: 500px; /* Adjust this to zoom into the center */
  }
  .section-about-wrap {
    flex-direction: column;
  }

  .img-wrap {
    max-width: 100%;
    object-fit: cover;
  }

  .img-wrap {
    order: 2;
  }

  .expertise-content-wrap {
    flex-direction: column;
  }

  .cards {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  .footer-content img {
    max-width: 250px;
    margin: auto;
  }
}
